services:
  backend:
    environment:
      - SPRING_PROFILES_ACTIVE=prod

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    ports:
      - "${FRONTEND_PORT:-5173}:80"
